.headerTop {
    background-color: green;
    border: 2px solid blue
  }
  .headerLogo {
    margin-left: 4rem;
    margin-top: 2rem;
    height: 3.5rem;
    width: 8rem;
  }
  
  /*styling header search bar*/
  input {
    border: none;
    margin-top: 2rem;
    padding: 0.3rem;
  }
 
$headerText: grey;
h3 {
    color: $headerText;
}

.btn {
  width: 18%;
  border: 2px solid gray;
  
}
input::placeholder {
  
position:absolute;
}