.headerTop {
    background-color: green;
    border: 2px solid blue
  }
  .headerLogo {
    margin-left: 4rem;
    margin-top: 2rem;
    height: 3.5rem;
    width: 8rem;
  }
  .headerText {
   
    text-align: center;
    margin-top: 2rem;
    border: 2px solid red;
  }
  /*styling header search bar*/
  .header-search-box {
    border: none;
    margin-top: 2rem;
    padding: 0.3rem;
  }
 