/*styling for Navbar*/




ul {
    list-style-type: none;
}
h2 {
    background-color: rgb(95, 226, 43);
}
  
/* a {
    font-size: 1.4rem;
    border: 1px solid green;
} */
.nav-bar .MobileNavigation {
    display: none;
}
@media screen and (max-width: 990px){
    .nav-bar .Navigation { 
        display: none;
    }
    .nav-bar .MobileNavigation { 
        display: flex;
        text-transform: uppercase;
        border: 7px solid goldenrod;
        
}

}

